.body{
    position: relative;
    height: 100vh;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,.7)), url(background.jpg);
    
}


.btn{
    margin-top: 20px;
    height: 60px;
    border-radius:6%;
    border:none;
}
.buttons{
    text-align: center;
    margin-bottom: 3%;
    border: none;
    font: bold 12px/30px Georgia, serif;

   
    
}
.btn-pri{
    width: 40%;
    height:55vh;
    background-color: darkgray;
    margin-right: 5px; 
    background-image: url(button1.jpg) ;
    border:none;
    background-size: cover;
    font-size: 55px;
    color:black;    
    padding-bottom: 5%;
}  
.btn-sec {
    width: 40%;
    height: 55vh;
    margin-left: 5%;
    background-image: url(button2.jpg) ;
    border:none;
    background-size: cover;
    font-size: 55px;
    padding-bottom: 8%;
  
}



.bg-light{
    background-color: rgb(15, 236, 126);
}
.nav-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
    
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}