.body{
    position: relative;
    height: 100vh;
    background-color: aquamarine;
    /* text-align: center; */
}
.btn{
    margin-top: 225px;
    height: 60px;
    border-radius:10%;
}
.buttons{
    text-align: center;
}
.btn-primary{
    width: 150px;
    margin-right: 5px; 
}